@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  font-family: $ubuntu-font;
}
body {
  background: darkgray;
  height: auto;
}
::-webkit-scrollbar {
  display: none;
}
