@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
$ubuntu-font: "Ubuntu", system-ui;

$prime-color: rgb(28, 46, 88);

$header-color: rgb(199, 130, 27);
$text-color: rgb(207, 147, 35);
