@import "../styles/variables.scss";

.popup {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 46%;
  height: 50%;
  background: $prime-color;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 10px;
  color: $text-color;
  direction: rtl;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
  box-shadow: 0 0 20px 10px black;
  &__button {
    padding: 10px;
    background: $header-color;
    color: $prime-color;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  &__container {
    width: 80%;
    margin: auto;
  }
  &__text {
    font-size: 1.5rem;
    line-height: 50px;
  }
}
